@model IEnumerable<DbConnServReference.ToDoListDataContract>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";


    List<SelectListItem> PrioridadValores = new List<SelectListItem>
        {
            new SelectListItem {Text = "Baja", Value = "1"},
            new SelectListItem {Text = "Media", Value = "2"},
            new SelectListItem {Text = "Alta", Value = "3"}
        };

}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index">
    <p>

        <select asp-items="PrioridadValores" name="id">
            <option value="">Seleccione Prioridad</option>
        </select>

        <input type="submit" value="Filtrar" />
    </p>
</form>

<div class="container mt-5 mb-3">
    <div class="row">
        @foreach (var item in Model)
        {
            string estilotarjeta = item.EstadoTarea ? "background-color: #C0C0C0" : "background-color: #F0E68C";
            <div class="col-md-4">
                <div class="card p-3 mb-2" style="@estilotarjeta">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex flex-row align-items-center">
                            <div class="ms-2 c-details">
                                <h6 class="mb-0">Tarea N° @item.Id</h6>
                            </div>
                        </div>

                    </div>
                    <div class="mt-5">
                        <h2 class="heading">@Html.DisplayFor(modelItem => item.Titulo)</h2>

                        @{
                            switch (item.Prioridad.ToString())
                            {
                                case "3":
                                    <h5>Prioridad Alta</h5>
                                    break;

                                case "2":
                                    <h5>Prioridad Media</h5>
                                    break;

                                case "1":
                                    <h5>Prioridad Baja</h5>
                                    break;

                                default:
                                    <h5>Sin Prioridad</h5>
                                    break;
                            }


                        }



                        <div class="mt-5">

                            <div class="mt-3">
                                @Html.ActionLink("Editar", "Edit", new { id=item.Id}) |
                                @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
                                @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
                            </div>
                        </div>
                    </div>
                    <span>Fecha de Creación: @item.FechaCreacion</span>
                    <span>Fecha Fin: @item.FechaFin</span>
                </div>
            </div>
        }
    </div>
</div>